R/.Rproj.user
R/.RData
R/.Rproj
.Rhistory
R/.Rhistory
.DS_Store
.Rproj.user
.RData
vignettes/*.gz
vignettes/*.tex
vignettes/*.log
vignettes/*.pdf
vignettes/*.out
vignettes/*.dvi
vignettes/*.bib
vignettes/*.brf
vignettes/*.bbl
vignettes/*.blg
vignettes/*.aux
vignettes/figure*
vignettes/*.sty
vignettes/qmj.run.xml
vignettes/tsou-kane-kwon.run.xml
qmj.Rproj
*.html
