texput.log
R/.Rproj.user
R/.RData
R/.Rproj
.Rhistory
R/.Rhistory
.DS_Store
.Rproj.user
.RData
vignettes/*.gz
vignettes/qmj-concordance.tex
vignettes/qmj.tex
vignettes/*.log
vignettes/*.pdf
vignettes/*.out
vignettes/*.dvi
vignettes/*.toc
vignettes/qmj-blx.bib
vignettes/*.brf
vignettes/*.bbl
vignettes/*.blg
vignettes/*.aux
vignettes/figure*
vignettes/*.sty
vignettes/qmj.run.xml
qmj.Rproj
*.html
